In [1]:
player_price = [('piyal',200),('shakir',400),('robin',300),('mahir',550)]


for item in player_price:
    print(item)

('piyal', 200)
('shakir', 400)
('robin', 300)
('mahir', 550)

In [2]:
for k1,k2 in player_price:
    print(k1)

piyal
shakir
robin
mahir

In [3]:
for k1,k2 in player_price:
    print(k2)

200
400
300
550

In [5]:
name_hour = [('piyal',100),('shakir',200),('mahir',150)]

def employee_check(name_hour):
    max=0
    employee_of_month=' '
    
    
    for name,hour in name_hour:
        if hour > max:
            max=hour
            employee_of_month=name
        else:
            pass
    
    return (employee_of_month,max) 

employee_check(name_hour)

('shakir', 200)

In [6]:
e1 = [1,2,4,45,52,4,1232,42,124,53,52,23,56,23425,552]

In [7]:
from random import shuffle

In [8]:
shuffle(e1)

In [9]:
print(e1)

[23, 52, 42, 4, 23425, 53, 4, 124, 56, 2, 52, 45, 1232, 1, 552]

In [10]:
print(e1)

[23, 52, 42, 4, 23425, 53, 4, 124, 56, 2, 52, 45, 1232, 1, 552]

In [11]:
shuffle(e1)
print(e1)

[23425, 52, 1, 23, 552, 56, 42, 45, 124, 4, 52, 1232, 4, 53, 2]

*ARGS   & **KWARGS

In [12]:
def add_two_numbers(a,b):
    return(a+b)


k = add_two_numbers(1,2)
print(k)

3

In [13]:
def add_more(*args):
    return sum(args)

k= add_more(1,2,3,4,5,6,7,8,9,10)

print(k)

55

In [19]:
def myfunc(*args,**kwargs):
    
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))
    
    
myfunc(10,20,30, fruit='orange', food ='eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs