# Handling Imbalanced dataset

In [1]:
import numpy as np
import pandas as pd 
import seaborn as sb

**Two Sampling methods** 
* Up Sampling 
* Down Sampling

In [2]:
# set the random seed for reproducibility 

np.random.seed(123)

#reate a dataframe with two classes 

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0

900

In [4]:
n_class_1

100

In [8]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc = 0, scale =1, size=n_class_0),
    'feature_2':np.random.normal(loc = 0, scale =1, size = n_class_0),
    'target':[0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc = 2, scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target' : [1]* n_class_1
})

In [10]:
df = pd.concat([class_0,class_1]).reset_index(drop= True)

In [11]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [12]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

**UP SAMPLING**

In [15]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [14]:
df_minority.head()

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1

In [16]:
df_majority.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

**Importing library for upsampling the data**

In [17]:
from sklearn.utils import resample