In [2]:
import pandas as pd

In [3]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
data =pd.Series([2,343243,23,233,234,23],
           index=['a','b','c','d','e','f'])

In [10]:
data

a         2
b    343243
c        23
d       233
e       234
f        23
dtype: int64

In [11]:
population_dict = {
    'Dhaka' : 23112312312,
    'Cumilla' : 23423423,
    'Chittagong': 234232323,
    'Rajshahi' : 34423423,
    'Sylhet' : 112312312
}

p_data = pd.Series(population_dict)

In [12]:
p_data

Dhaka         23112312312
Cumilla          23423423
Chittagong      234232323
Rajshahi         34423423
Sylhet          112312312
dtype: int64

In [13]:
# -> slicing 

p_data['Dhaka' : 'Rajshahi']

Dhaka         23112312312
Cumilla          23423423
Chittagong      234232323
Rajshahi         34423423
dtype: int64