In [13]:
import pandas as pd
import numpy as np

In [3]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
data =pd.Series([2,343243,23,233,234,23],
           index=['a','b','c','d','e','f'])

In [5]:
data

a         2
b    343243
c        23
d       233
e       234
f        23
dtype: int64

In [6]:
population_dict = {
    'Dhaka' : 23112312312,
    'Cumilla' : 23423423,
    'Chittagong': 234232323,
    'Rajshahi' : 34423423,
    'Sylhet' : 112312312
}

p_data = pd.Series(population_dict)

In [7]:
p_data

Dhaka         23112312312
Cumilla          23423423
Chittagong      234232323
Rajshahi         34423423
Sylhet          112312312
dtype: int64

In [8]:
# -> slicing 

p_data['Dhaka' : 'Rajshahi']

Dhaka         23112312312
Cumilla          23423423
Chittagong      234232323
Rajshahi         34423423
dtype: int64

In [12]:
# -> list of dictionary to data 
data1 = [
    {
        'a': i,
        'b': 2 * i}
        for i in range(3)
]
pd.DataFrame(data1)

   a  b
0  0  0
1  1  2
2  2  4

In [15]:
# -> from two dimensional array 

pd.DataFrame(np.random.rand(3,2),
             columns=['food', 'bar'],
            index=['a','b','c'])

       food       bar
a  0.782813  0.178091
b  0.815408  0.124447
c  0.191294  0.225169