In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.4.2'

In [5]:
data  = {
    'a' : [1,2,3,4],
    'b' : [4,5,6,7],
    'c' : ['piyal','mahir','shakir','robin']
    }

In [6]:
df = pd.DataFrame(data)

In [7]:
df

   a  b       c
0  1  4   piyal
1  2  5   mahir
2  3  6  shakir
3  4  7   robin

In [11]:
# -> set user defined index 

df1= pd.DataFrame(data, index=['a','b','c','d'])

In [12]:
for i in df1.iterrows():
    print(i)

# -> row by row iteration and row details

('a', a        1
b        4
c    piyal
Name: a, dtype: object)
('b', a        2
b        5
c    mahir
Name: b, dtype: object)
('c', a         3
b         6
c    shakir
Name: c, dtype: object)
('d', a        4
b        7
c    robin
Name: d, dtype: object)

In [15]:
[ i for i in df1['a']]

[1, 2, 3, 4]

In [16]:
df2 = df1[['a','b']]

In [17]:
df2.applymap(lambda x: x**2)

# -> works on a whole data frame

    a   b
a   1  16
b   4  25
c   9  36
d  16  49

In [18]:
df

   a  b       c
0  1  4   piyal
1  2  5   mahir
2  3  6  shakir
3  4  7   robin

In [19]:
df.sort_values('c')

   a  b       c
1  2  5   mahir
0  1  4   piyal
3  4  7   robin
2  3  6  shakir

In [21]:
df.sort_index(ascending=False)

# -> default sort ascending = True

   a  b       c
3  4  7   robin
2  3  6  shakir
1  2  5   mahir
0  1  4   piyal