# FOR LOOP

In [2]:
p = list(range(1,11))

In [3]:
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
for i in p:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>

In [5]:
p1= ['piyal','shakir','yusha','mahy','shuvo']

for i in p1:
    if i =='yusha':
        continue
    print(i)

piyal
shakir
mahy
shuvo

In [6]:
for i in p1:
    if i =='yusha':
        break
    print(i)

piyal
shakir

In [7]:
for i in p1:
    if i =='mahy':
        break
    print(i)
else:
    print("kire mama kemon asos")
    
#Here else statement didint work beacause the for loop code didnt executed the whole. It stopped becuase of the break keyword. ELSE statement would print if the FOR loop is executed FULLY .

piyal
shakir
yusha

In [8]:
#printing in reverse using FOR LOOP 

print(p1)
print()

['piyal', 'shakir', 'yusha', 'mahy', 'shuvo']

In [9]:
for i in range(len(p1)):
    print(p1[i])

piyal
shakir
yusha
mahy
shuvo

In [10]:
for i in range (len(p1)-1,-1,-1):
    print(p1[i])

shuvo
mahy
yusha
shakir
piyal

In [11]:
p2 = [21,323,12,3123,123,13,1231,44,32,4,324,]

for i in p2:
    print(i)

21
323
12
3123
123
13
1231
44
32
4
324

In [12]:
for i in range(0,len(p2),2):
    print(p2[i])

21
12
123
1231
32
324

In [13]:
sum(p2)

5250

In [14]:
d= {'name': 'piyal', 'course':'data science masters', 'topic':
    ['python', 'statistics', 'machine learning','deep learning','CV','NLP']}

print(d)

{'name': 'piyal', 'course': 'data science masters', 'topic': ['python', 'statistics', 'machine learning', 'deep learning', 'CV', 'NLP']}

In [15]:
print(d.keys())

dict_keys(['name', 'course', 'topic'])

In [16]:
for i in d.keys():
    print(i)

name
course
topic

In [17]:
for i in d.keys():
    print(d[i])

piyal
data science masters
['python', 'statistics', 'machine learning', 'deep learning', 'CV', 'NLP']

In [18]:
for i in d.values():
    print(i)

piyal
data science masters
['python', 'statistics', 'machine learning', 'deep learning', 'CV', 'NLP']

In [19]:
d.items()

dict_items([('name', 'piyal'), ('course', 'data science masters'), ('topic', ['python', 'statistics', 'machine learning', 'deep learning', 'CV', 'NLP'])])

In [20]:
for i in d.items():
    print(i)

('name', 'piyal')
('course', 'data science masters')
('topic', ['python', 'statistics', 'machine learning', 'deep learning', 'CV', 'NLP'])

# WHILE LOOP

In [21]:
a=1 

while a <=10 :
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9
10

Sum of values

In [22]:
#Sum of values 

num = int(input('Enter your lilmit: '))

sum = 0
count=1

while count <= num:
    sum +=count
    count += 1
    
print("Your sum upto ", num ," is :",sum)

Your sum upto  10  is : 55

Factorial of numbers

In [27]:
#Factorial of a number 

num1= float(input('Enter your number : '))

fact =1

while num1 > 0 :
    fact = fact *num1
    num1 -= 1
    
print("Factorial is : ",fact)

Factorial of  is :  120.0

Fibonacci Series

In [28]:
#Fibonacci series 

number = int(input("Enter your number : "))

a,b = 0,1
count = 0

while count < number :
    print(a)
    c= a+b
    a= b
    b=c
    count += 1

0
1
1
2
3
5
8
13
21
34

Multiplication Table

In [35]:
num= int(input('Enter a number for the multiplication table: '))
a=1 
while a <= 10:
    print(num,' * ',a ," = ",num*a)
    a += 1

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

ELSE with WHILE and FOR 
* The else condition will only execute if the loop is fully executed .
* If we use **Break** or **Continue** statement **ELSE** will not execute

In [37]:
n=10
i=1 

while i <=n:
    print(i)
    if i == 6:
        break
    i+= 1 
    
else:
    print('will not be executed ')

1
2
3
4
5
6

# Comprehension : LOOPS

**List Comprehension**

In [40]:
l = list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
l1=[]
for i in l:
    l1.append(i ** 2)
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
#comprehensive way 
[ i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
#even numbers in comprehensive way 

[i for i in l if i%2 ==0 ]

[2, 4, 6, 8, 10]

In [46]:
names =['piyal','shakir','mahir','shuvo']

[ i.upper() for i in names ]

['PIYAL', 'SHAKIR', 'MAHIR', 'SHUVO']

**Dictionary Comprehension**

In [51]:
d= {'k1':1, 'k2':2, 'k3':3, 'k4': 4, 'k5':5}

In [52]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3), ('k4', 4), ('k5', 5)])

In [53]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4', 'k5'])

In [54]:
d.values()

dict_values([1, 2, 3, 4, 5])

In [55]:
#square of values 

{ k:v**2 for k,v in d.items()}

{'k1': 1, 'k2': 4, 'k3': 9, 'k4': 16, 'k5': 25}

In [59]:
#where value is greater than 1 

{ k:v>1 for k,v in d.items()}

{'k1': False, 'k2': True, 'k3': True, 'k4': True, 'k5': True}

In [61]:
{ k:v for k, v in d.items() if v>1}

{'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5}