#ROGUE

In [1]:
print("hello")

hello

In [1]:
print(2+3)

5

In [2]:
list01=[1,2,4,5,6,7]

for k in list01:
    print(k)

1
2
4
5
6
7

In [6]:
list02=[1,2,3,4,5,6,7,7,77,88,91,40]
for k in list02:
    if(k%2==0):
        print(k)

2
4
6
88
40

In [7]:
n = 'hello'
print(type(n))

<class 'str'>

In [8]:
r= 10000
print(type(r))

<class 'int'>

In [9]:
a=1
b=0

print(a^b)

1

In [11]:
print('spam' * 3)

spamspamspam

In [12]:
k1= "hello "
k2= ' there '
print(k1+k2)

hello  there

In [13]:
#this is a comment

In [14]:
p = 12.3333
print(type(p))

<class 'float'>

In [15]:
h=12.0
w= 17
d= '.'

print(w/2)
print(type(w/2))

print("-----------")

print(w/2.0)
print(type(w/2.0))
print("-----------")

print(type(h/3))
print("--------")

print(d*5)
print(type(d*5))

8.5
<class 'float'>
-----------
8.5
<class 'float'>
-----------
<class 'float'>
--------
.....
<class 'str'>

In [1]:
mylist=[1,2,3]

mylist.append(4)
print(mylist)


mylist.pop()
print(mylist)

[1, 2, 3, 4]
[1, 2, 3]

In [2]:
mylist.pop()
print(mylist)

[1, 2]