#  [ Measure of Central Tendency ]
* Mean
* Median 
* Mode

**MEAN**

In [15]:
import numpy as np
import seaborn as sb

In [16]:
age = [ 12,21,23,45,65,43,56,45,32,67,54,34]

np.mean(age)

41.416666666666664

In [17]:
np.median(age)

44.0

In [18]:
weights = [ 56,76,54,54 ,98,66,77,87,76,98,56,90]

np.mean(weights)

74.0

In [19]:

np.median(weights)

76.0

In [20]:
df = sb.load_dataset('tips')

In [21]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [22]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
np.mean(df['total_bill'])

19.785942622950824

**MEDIAN**

In [24]:
np.median(df['total_bill'])

17.795

In [25]:
np.median(df['tip'])

2.9

In [26]:
np.median(df['size'])

2.0

**MODE**
* To use MODE we import a different library scipy

In [27]:
from scipy import stats

In [28]:
stats.mode(df['total_bill'])

ModeResult(mode=array([13.42]), count=array([3]))

In [29]:
stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))

In [30]:
stats.mode(weights)

ModeResult(mode=array([54]), count=array([2]))